*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: rgb(33, 36, 182);
}
h1{
    margin-left: 200px;
    font-size: 100px;
    color: rgb(12, 209, 166);
}
div{
    margin-top: 10px;
   margin-left: 200px;
   padding-left: 10px;
   border: 0.1px solid rgb(19, 113, 235);
   border-radius: 20px;
   width: 80%;
   background-color: rgb(19, 113, 235);
   font-size: 30px;
   color: rgb(116, 25, 116);
}
button{
    background-color: rgb(12, 209, 166);
    border: 0.1px solid rgb(19, 113, 235);
   border-radius: 20px;
   width: 60px;
}