*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
height: 100%;
width: 100%;
}
#intro{
    height: 100px;
    width: 100%;
}
#intro h1{
    font-size: 100px;
    line-height: 100px;
    padding: 3%;
}
#location{
    position:absolute;
    top:250px;
    left: 60px;
    font-size: 25px;
}
#menu{
    position: absolute;
    top: 70px;
    right: 50px;
    font-size: 17px;
    border: 1.5px solid black;
    background-color: black;
    color: whitesmoke;
    border-radius: 10px;
}
#scroll{
    position: absolute;
    top: 250px;
    right: 70px;
    font-size: 20px;
}
img{
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 300px;
}
#about{
    position: absolute;
    top: 2260px;
    padding-right: 100px;
    border-right: 2.5px solid black;
}
#achievement{
    height:50px;
     position: absolute;
    top: 2260px;
    right: 200px;
    font-size: 20px;
}
ul{
    column-count: 2;
    column-gap: 40px;
}