*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color:white ;
}
#nav{
    height: 50px;
    width: 100%;
    padding: 20px;
    padding-top: 4px;
    display:flex;
    justify-content: space-between;
}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav-part2>i{
    background-color: rgb(235, 115, 11);
}
#nav h3{
    font-size: 16px;
    border: 1.5px solid #000;
    padding: 5px 10px;
    border-radius: 50px;
}
#nav i{
    font-size: 16px;
    border: 1.5px solid #000;
    padding: 5px 10px;
    border-radius: 50px;
}
#nav h1{
font-weight: 100px;
font-size: 25px;
}
#nav button{
    padding: 5px 7px;
    border-radius: 50px;
    border: 1.5px solid #000;
    background-color: white;
}
#btn2{
    color: #f7f2f2;
    background-color: rgb(235, 115, 11) !important;
}
#main>h1{
    font-size: 150px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}
img{
    height: 500px;
    width: 300px;
    object-fit: cover;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}
#img1{
    transform: translate(-50%,-50%) rotate(-30deg);
}
#img2{
    transform: translate(-50%,-50%) rotate(-20deg);
}
#img3{
    transform: translate(-50%,-50%) rotate(-10deg);
}
#lft-bottom{
    position: absolute;
    top: 90%;
    padding-left: 40px;
    font-size: 20px;
}
#lft-bottom-2{
    position: absolute;
    top: 93%;
    padding-left: 40px;
    font-size: 25px;
}
#rt-bottom{
    position: absolute;
    top: 90%;
    padding-left: 90%;
    font-size: 20px;
}
#rt-bottom-2{
    position: absolute;
    top: 93%;
    padding-left: 90%;
    font-size: 25px;
}
#main>i{ 
    color: red;
     position: absolute;
    top: 86%;
    padding-left: 90%;
    font-size: 20px;
    
}